@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double&display=swap');
@import "tailwindcss";


body {
  font-family: 'Inter', Arial, sans-serif;
}

.font-bitcount {
  font-family: 'Bitcount Prop Double', monospace;
}

[data-sonner-toast] {
  background: linear-gradient(90deg, #832bc29f,rgba(0, 255, 255, 0.654), #c7277a99) !important;
  color: #fff !important;
  border-radius: 1rem !important;
  box-shadow: 0 4px 24px 0 #a78bfa55 !important;
  border: 2px solid #7c3aed !important;
}



